<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <title>Grocery App</title>
</head>
<body>
  <div class="container justify-content-center">
    <div class="row">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('user_page')}}">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item me-2">
                <a type="button" class="btn btn-primary" aria-current="page" href="/user/history">Your orders</a>
              </li>
              <li class="nav-item me-2">
                <a type="button" class="btn btn-success" href="/logout">logout</a>
              </li>
              {% if mode=="all" %}
              <li class="nav-item dropdown me-2">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Select Category
                </a>
                <ul class="dropdown-menu">
                  {% for category in categories %}
                  <li><a class="dropdown-item" href="/user/category/{{category.id}}">{{category.name}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% elif mode=="one" %}
              <li class="nav-item">
                <a class="nav-link" href="#">{{category.name}}</a>
              </li>
              {% endif %}
            </ul>
            {% if mode=="all" %}
            <form class="d-flex me-2" role="search" action="/user">
              <input class="form-control me-2" name="search_query" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            {% elif mode=="one" %}
            <form class="d-flex me-2" role="search" action="/user/category/{{category.id}}">
              <input class="form-control me-2" name="search_query" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            {% endif %}
            <a type="button" class="btn btn-primary" href="/user/mycart">
              Your Cart
              {% if cart>0 %}
              <span class="badge text-bg-secondary">{{cart}}</span>
              {% endif %}
            </a>
          </div>
        </div>
      </nav>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          {{ messages[0] }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </ul>
      {% endif %}
    {% endwith %}
    <div class="row mt-5">
      {% if products|length > 0 %}
      {% for product in products %}
      <div class="col-lg-4 col-md-6 mb-4">
          <div class="card" style="width: 18rem;">
              <img src="{{url_for('static', filename=product.img_name)}}" class="card-img-top" alt="{{ product.name }}">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text">Price: &#x20B9;{{ product.price }} </p>
                {% if product.stock>0 %}
                <form action="/user/session/cart/activated" method="post">
                  <input type="hidden" name="current_url" value="{{current_url}}">
                  <input type="hidden" name="product_id" value="{{product.id}}">
                  <button type="submit" class="btn btn-light">Add to cart</button>
                </form>
                {% else %}
                <button type="submit" class="btn btn-danger" disabled>Out of stock</button>
                {% endif %}
              </div> 
          </div>
      </div>
      {% endfor %}
      {% else %}
      <h3>No results found with search matching</h3>
      {% endif %}
    </div>
    <footer class="bg-dark text-light text-center py-3">
      &copy; {{ current_year }} Grocery App
    </footer>
  </div>
  <script>
  </script>
</body>
</html>